<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FCC Image Search Abstraction Microservice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
  <h2>Image Search Abstraction Microservice</h2>
    <div class="userStory">
      <li>
        You can pass a value after the /api/imagesearch/. Example search for a yorkie, you will pass this https://image-gcsearch-engine-abstract.herokuapp.com/api/imagesearch/<em>yorkie</em> . It will search for images related to your search, and it will return you a JSON response that will contain a images URLs, snippet, thumbnail, and context for a given search. You are also allowed to pass "?offset=" at the end of the url to paginate through the responses. Example https://image-gcsearch-engine-abstract.herokuapp.com/api/imagesearch/yorkie<em>?offset=2</em> .
      </li>
      <li>
        You can also pass /api/latest/imagesearch after the url and get back the 5 last recent searches, the search term and the time they searched.
      </li>
    </div>
    <div class="exampleUsage">
      <h3>Example usage: </h3>
      <a href="https://image-gcsearch-engine-abstract.herokuapp.com/api/imagesearch/yorkie?offset=2" target="blank">https://image-gcsearch-engine-abstract.herokuapp.com/api/imagesearch/yorkie?offset=2</a><br>
      <a href="https://image-gcsearch-engine-abstract.herokuapp.com/api/latest/imagesearch" target="blank">https://image-gcsearch-engine-abstract.herokuapp.com/api/latest/imagesearch</a>
    </div>
    <div class="exampleOutput">
    <h3>Example Output for Search:</h3>
      <p>[
    {
        "url": "https://static.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg",
        "snippet": "Cat Images · Pexels · Free Stock Photos",
        "thumbnail": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM1gyfoLrqcuU-k9NLR8njIcjpIqiVxIDWr8M7FZEOCATGgDSQrxX8EFo",
        "context": "https://www.pexels.com/search/cat/"
    },<br>
    {
        "url": "https://cdn.pixabay.com/photo/2014/03/29/09/17/cat-300572_960_720.jpg",
        "snippet": "Cat - Free images on Pixabay",
        "thumbnail": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ24dDUovcRNeIUxHSk164w7IK_-vlqfSeac4hWkh8KCv6Zs32kuOFlb6M",
        "context": "https://pixabay.com/en/photos/cat/"
    }
    ]</p>

    <h3>Example Output for Latest:</h3>
    <p>
      [
      {"search":"run","createdAt":"2017-07-30T20:25:10.476Z"},<br>
      {"search":"yorkie","createdAt":"2017-07-30T20:38:29.796Z"}
      ]
    </p>
    </div>

    {{> footer }}
</body>
</html>